
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
.idea/
secret.*.json
*.pem
*.env
/docker-build/nginx/nginx-build/default.conf
publish*/
venv/
__pycache__/
dist/
build/
build.spec
docker-build/build
docker-build/config.yaml
appsettings.Release.json
